{
	frankenphp
	order php_server before file_server
    admin off

    servers {
        trusted_proxies cloudflare
    }
}

:{$PORT} {
    root * /app/public
	encode zstd gzip

	@reverb path /app/*
	reverse_proxy @reverb localhost:8080

	php_server
}
